.to-do_list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}
button {
  font-size: 1.7 rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}
.add-button {
  background-color: rgb(5, 222, 5);
}
.add-button:hover {
  background-color: rgb(4, 152, 4);
}
.delete-button {
  background-color: red;
}
.delete-button:hover {
  background-color: rgb(122, 1, 1);
}
.move-button {
  background-color: rgb(100, 100, 240);
}
.move-button:hover {
  background-color: rgb(66, 66, 247);
}
input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid rgb(40, 40, 40);
  border-radius: 5px;
  color: rgb(28, 27, 27);
}
ol {
  padding: 0;
}
li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: rgb(246, 242, 242);
  margin-bottom: 10px;
  border: 3px solid rgb(214, 199, 199);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text {
  flex: 1;
}
.delete-button,
.move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}
